::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

body {
    font-family: Montserrat, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 1.25rem;
    background: radial-gradient(circle, rgba(24,26,71,0.9) 0%, rgba(27,27,27,1) 100%);
    scrollbar-width: thin;
    scrollbar-color: #aeaeae #000;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.table-container {
    height: 400px;
    overflow-y: auto;
}
