body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #0a0a0a, #1b1b1b);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.register-container {
    background: #121212;
    padding: 60px 80px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    width: 450px;
    max-width: 90%;
    animation: fadeIn 0.5s ease;
}

.register-logo {
    display: block;
    max-width: 150px;
    margin: 0 auto 20px auto;
}

.header-text h2 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #1e90ff;
}

.form-field {
    margin-bottom: 25px;
    position: relative;
}

.register-container label {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    color: #eee;
}

.register-container input[type="text"],
.register-container input[type="password"] {
    padding: 15px;
    border: 2px solid #333;
    background: #333;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 16px;
    width: 100%;
}

.register-container input[type="text"]:focus,
.register-container input[type="password"]:focus {
    border-color: #1e90ff;
}

.register-container input[type="submit"] {
    width: 107%;
    padding: 18px;
    border: none;
    background-color: #1e90ff;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-container input[type="submit"]:hover {
    background-color: #0066cc;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Footer */
footer {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #eee;
}

.footer-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

.footer-container:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.footer-container a {
    color: #1e90ff;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.footer-container a:hover {
    color: #0066cc;
}

.heart {
    color: #ff4d4d;
    margin: 0 5px;
}

.footer-container a:visited {
    color: #1e90ff; /* Same color as unvisited links */
}


/* Info Banner register */
.info-banner {
    background: #121212;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    animation: slideDown 0.5s ease;
}

.info-banner p {
    margin: 0;
    font-size: 16px;
    color: #eee;
}

.info-banner a {
    color: #1e90ff;
    text-decoration: underline;
    transition: color 0.3s ease;
}

/* Hyperlinks */
.info-banner a:hover,
.info-banner a:visited {
    color: #0066cc;
}

@keyframes slideDown {
    from {
        top: -50px;
    }
    to {
        top: 0;
    }
}
