/* Avatar Login / Logout section */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: radial-gradient(circle, rgba(24,26,71,0.9) 0%, rgba(27,27,27,1) 100%);
}

.account-settings-modal {
    background-color: #282828;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #444;
    width: 40%;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.close-icon {
    color: #db3d3d;
    float: right;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.close-icon:hover,
.close-icon:focus {
    color: #ff4444;
    text-decoration: none;
    cursor: pointer;
}

/* Form styles */
#avatar-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #d8d8d8;
    font-size: 1em;
}

#avatar-form input[type="text"] {
    width: 97.5%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #444;
    color: #eee;
    font-size: 1em;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#avatar-form input[type="text"]:focus {
    background-color: #555;
    outline: none;
}

#avatar-form input[type="submit"] {
    background-color: rgba(0, 82, 234, 0.9);
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
}

#avatar-form input[type="submit"]:hover {
    background-color: #bcf02d;
    font-weight: 700;
    color: #282828;
}

#avatar-form input[placeholder] {
    font-weight: 500;
    font-size: 1em;
    color: #bbb;
}

.labelicon {
    margin-right: 10px;
    color: #aaa;
    transition: all 0.3s ease-in-out;
}

.labelicon:hover {
    color: #eee;
}


.server-status-container2 {
    position: absolute;
    top: 20%;
    right: 3%;
    width: 405px;
    height: fit-content;
    background-color: #0c0c0c34;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    border-radius: 25px;
}

.server-status-container2 {
    animation: pulsate 2s infinite;
  }

.account-settings-modal h2 {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}